{% extends 'data/base_blog.html' %}

{% block title  %}
    Items List
{% endblock %}

{% block content  %}




    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Time</th>

        </tr>
      </thead>
      {% for d in demand %}
      <tbody>
        <tr>
          <th scope="row">{{ d.item.name }}</th>
          <td>{{ d.price }}</td>
          <td>{{d.issue_quantity}}</td>
          <td>{{d.date}}</td>




        </tr>
      </tbody>
      {% endfor %}
  </table>

{% endblock %}