  
{% extends 'data/base_blog.html' %}
{% load crispy_forms_tags %}
{% block title  %}
    Items List
{% endblock %}

{% block content  %}

{% for message in messages %}
  <div class="alert alert-danger" role="alert">
    {{message}}
  </div>
{%endfor%}
<form method='POST' action=''>{% csrf_token %}
  {{form|crispy}}
      <input type="submit" class="btn btn-info" value='Search'/>
</form>
<br>
  <a href="{% url 'data:items_list_url' %}" class="btn btn-primary btn-lg " role="button" >Show all Items</a>
  <a href="{% url 'data:item_create_url' %}" class="btn btn-secondary btn-lg "  role="button">Add new Item</a>



      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Inventory</th>
            <th scope="col">EOQ</th>
            <th scope="col">Reorder Quantity</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            

          </tr>
        </thead>

    {% for item in items %}
        <tbody>
          <tr>

            <th scope="row">{{ item.name }}</th>
            <td>{{item.total_inventory}}</td>
            <td>{{item.eoq}}</td>
            <td>{{item.rq}}</td>
            <td><a href="{% url 'data:update_item' item.id %}" class="btn btn-outline-secondary" role="button">Update</a></td>
            <td><a href="{% url 'data:delete_items' item.id %}" class="btn btn-outline-danger" role="button">Delete</a></td>




          </tr>
        </tbody>
    {% endfor %}
      </table>



{% endblock %}