{% extends "base.html" %}

{% block title %}Create an Account{% endblock %}


{% block content %}
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class = "form-group">
            {% if field.errors %}
                <div class="alert alert-danger">
                    {{ field.errors }}
                </div>
            {% endif %}
            <label for="exampleInputEmail1">{{ field.label}}</label>
            <br>
            {{ field }}

        </div>
        {% endfor %}


        

       
        <div class="d-flex justify-content-center mt-3 login_container" >
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>


	<br>

    <div class="alert alert-dark" role="alert">
        Already have an account? Login  <a href="/" class="alert-link">Here</a>.
      </div>
{% endblock %}